.section
    &__header
        display: flex
        justify-content: space-between
        margin-right: auto
        max-width: 442px
        min-height: 42px
        align-items: center
        margin-bottom: 44px
    &__name
        font-style: normal
        font-weight: 700
        font-size: 36px
        line-height: 42px
        color: #000000
    &__rating
        display: flex
        justify-content: space-between
        align-items: center
        min-width: 48px
        margin-right: 26px
    &__rate
        font-weight: 700
        font-size: 18px
        line-height: 32px
        color: #FFC107
    &__wrapper
        display: flex
        max-width: 294px
        margin-left: auto
        align-items: center
    &__info
        display: flex
        justify-content: space-between
        align-items: center
        min-width: 220px
        font-weight: 400
        font-size: 18px
        line-height: 32px
        color: #8C8C8C
    &__bottom
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 1fr 1fr
        row-gap: 30px
        column-gap: 24px
        margin-bottom: 112px
.card
    max-width: 384px
    max-height: 413px
    display: flex
    flex-direction: column
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05)
    border-radius: 7px
    background: #FFFFFF
    padding-bottom: 30px
    padding-left: 24px
    &__image
        margin-bottom: 25px
    &__title
        font-weight: 400
        font-size: 24px
        line-height: 32px
        margin-bottom: 10px
    &__info
        font-weight: 400
        font-size: 18px
        line-height: 21px
        color: #8C8C8C
        margin-bottom: 25px
    &__button
        max-width: 127px
        min-height: 40px
        padding-left: 16px
        padding-right: 16px
    &__click
        margin-right: 4px
    &__wrapper
        display: flex
        align-items: center
    &__price
        color: #000000
        font-weight: 700
        font-size: 20px
        line-height: 32px
        margin-left: 32px
